* {
	padding: 0px;
	margin: 0px;
}
.bg-gradient{
     background-color: #6991ff;
     background-image: linear-gradient(45deg, #00DBDE 11%, #FC00FF 69%, #fc83ff 86%);
     /* background: url('./assets/img/Background.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 100vh;
     width: 100vw; */
}



.h-20{
     height: 20% !important;
}

.h-80{
     height: 80% !important; 
}